            <div class="modal-header">
                <div class="box-tools" style="display:inline-table">
                    <div class="box-tools" style="display:inline-table">
                        <div class="input-group"> 
                            <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Data Coa" ng-change="searchDBApCst()" ng-model="searchTextApCst" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                            <span class="input-group-addon">Search</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered pagin-table">
                    <thead>
                        <tr>
                            <th>Pilih</th>
                            <th>Coa_id</th>
                            <th>Nama Rekening</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="values in _dataApCst | itemsPerPage:5" total-items="totalItemsApCst" pagination-id="paginationApCst">
                            <td>
                                <button type="button" ng-click="lovApCstSelected(values)" class="btn btn-success btn-sm" aria-label="Left Align">
                                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>[[ values.coa_id ]]</td>
                            <td>[[ values.coa_name ]]</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <p class="pull-left pagination">Menampilkan <strong>[[ tableApCst.CurrentItems ]]</strong> Dari <strong>[[ tableApCst.TotalItems ]]</strong></p>
                                <dir-pagination-controls pagination-id="paginationApCst" class="pull-right" on-page-change="pageChangedApCst(newPageNumber)" template-url="/assets/ng/views/etc/dirPagination.html" ></dir-pagination-controls>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->