ul.messages_sn {
    padding: 0;
}

ul.messages_sn li,
.tasks li {
    /*border-bottom: 1px dotted #e6e6e6;*/
    padding: 8px 0;
}

ul.messages_sn li img.avatar,
img.avatar {
    height: 55px;
    width: 55px;
    float: left;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
}

ul.messages_sn li .message_date {
    float: right;
    text-align: right;
}

ul.messages_sn li .message_wrapper {
    margin-left: 70px;
    margin-right: 40px;
}

ul.messages_sn li .message_wrapper h4.heading {
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 100%;
}

ul.messages_sn li .message_wrapper blockquote {
    padding: 0px 10px;
    margin: 0;
    border-left: 5px solid #eee;
}

.attr_sn {
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
    padding-top:10px;
}


.img-circle.profile_img_sn {
    width: 50px;
    height: 50px;
    /*width: 50px;*/
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}
